{% extends 'base.html' %}
{% block content %}
<div class="home-row px-5">
  <div class="col-md-6 home-text">
    <h1 class="display-4 font-weight-bold">Feel The Flow, Hear The Beat</h1>
    <p class="lead">BeatSlice is an interactive platform designed to train your ears and sharpen your instincts when it comes to music. Whether you're a curious listener, a budding producer, or just someone who wants to understand what makes a track tick — BeatSlice helps you break down the music you love into its core components.</p>
    <div class="mt-4">
      <a href="{{ url_for('learn',page=1) }}" class="btn btn-primary mr-3">LEARN</a>
      <a href="{{ url_for('quiz',page=1) }}" class="btn btn-primary">QUIZ</a>
    </div>
  </div>
  <div class="col-md-6 home-img text-right">
    <img src="{{ url_for('static',filename='images/homepage.png') }}" class="img-fluid" alt="Hero">
  </div>
</div>
{% endblock %}